/* First D3 Project */
/* Author: Syn-Ee Wong */

// Generic
body{
	  font: normal normal normal 16px/1.4 Arial, Helvetica, sans-serif;
}

// Charts
.chart {
    width: 100px;
    height: 100px;
}

.circ1 {
    stroke: green;
    fill: white;
    stroke-width: 5;
}